<!DOCTYPE html>
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div id="content-header">
				<h1 class="text-center">Upload your receipe</h1>
			</div>
			<div class="form">
				
					<ul> Receipe name <input type="text" name="receipe-name"></ul>
					<ul> Preparation time <input type="text" name="receipe-name"></ul>
				 	<ul>ingredients <input type="text" name="receipe-name"></ul>
				 		<li>Ingredient 1 <input type="text" name="receipe-name"></li>
				
				
				
			</div>
		</div>
		<footer>
    		<div class="container">
      			
    		</div>
 		 </footer>			
	</body>
</html>