<html>
<head>
    <title>My Cookbook</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body id="cookBookBody">
<!-- NAVBAR -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li id="navLogo" class="navbar-brand"><i>Sous Chef Buddy</i></li>
        </div>
        <!-- COLLAPSIBLE NAVBAR -->
        <div class="collapse navbar-collapse" id="alignment-example">
            <!-- Links -->
            <ul class="nav navbar-nav">
                <li><a id="navHome" href="/">HOME </a></li>
                <li><a id="navUpload" href="upload">UPLOAD RECIPE</a></li>
                <li><a id="navCookbook" class="active" href="userCookbook">COOKBOOK</a></li>
            </ul>
            {{# if checkSessionExists }}
                <span id="welcomeMsg" class="navbar-right"><i>Welcome {{welcomeName}}!</i><br></span>
            {{/if}}
            <!-- Button -->
            <ul class="dropdown btn btn-default navbar-btn navbar-right infoButton">
                <a class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false" id="btnText">LOGIN / REGISTER <span class="caret"></span></a>

                {{# if checkSessionExists }}
                    <ul class="dropdown-menu" aria-labelledby="loginDrop">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                {{else}}
                    <ul class="dropdown-menu" aria-labelledby="loginDrop">
                        <li><a href="login_registration.html">Login</a></li>
                        <li><a href="registration.html">Register New Account</a></li>
                    </ul>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->
<!-- NAVBAR IN ITS OWN FILE-->
<!--<div id="nav-placeholder">
</div>
<script>
    $(function(){
        $("#nav-placeholder").load("navbar.html");
    });
</script>-->
<!--end of Navigation bar-->


<h1 id="Message" style="margin-top: 50px;margin-bottom: 0px;">
</h1>
<form id="selectRecipe">
    <div class="row-upload row"
         style="margin-bottom: -50;
         margin-top: 0px;">

        <select id="recipeList"
                style=" margin-top: 42px;
                margin-left: 150px;
                margin-bottom: 0px;
                margin-bottom: -210px;
                width: 157px;
                height: 26px;">
            <input class="btn-update btn primary"
                   type="button"
                   value="Edit"
                   style="width: 66px;
                   height: 26px;
                   margin-left: 29px;
                   margin-top: 0px;"
                   id="enableEdit">
        </select>
    </div>

    <!--  <div id="form-area">
         <form>
             <ul id="upload-recipe">
                 <div class="row-upload row">
                     <li id="name" class="col-md-12">
                         <span >Recipe Name:</span>
                         <input type="text" id="recipeName" class="input-edit">
                     </li> -->
    </form>
        <div class="container-upload container">
            <div id="form-area_edit">
                <form>
                    <ul>
                        <div class="row-upload row">
                            <li id="name" class="col-md-12">
                                <span>Recipe Name:</span>
                                <input type="text" id="recipe_name_edit" class="input-edit" disabled="">
                            </li>
                        </div>
                        <div class="row-upload row">
                            <li id="time" class="col-md-4">
                                <span>Preparation time:</span>
                                <input type="text" class="input-edit" id="prep_time_edit" disabled="">
                            </li>
                            <li class="col-md-4">
                                <span>Cook Time:</span>
                                <input type="text" class="input-edit" id="cook_time_edit" disabled="">
                            </li>
                            <li class="col-md-4">
                                <span>Serving Size:</span>
                                <input type="text" class="input-edit" id="serving_size_edit" disabled="">
                            </li>
                        </div>

                        <li class="col-md-12">
                            <ul class="ingredient-fields">
                                <li></li>
                            </ul>
                        </li>

                        <div class="row-upload row">

                            <span style="margin-left: 57px;">Ingredients Name:</span>
                            <span style="margin-left: 215px;">Quantity</span>
                            <span style="margin-left: 200px;">Unit:</span>


                        </div>
                        <div id="stepsAndIngredientsDiv">
                        </div>

                        <div class="row-upload row">
                            <li class="col-md-12">
                                <span style="margin-left: 57px;">Steps:</span>
                                <ul class="steps-field">
                                    <li id="stepsList"></li>
                                </ul>
                            </li>
                        </div>

                        <div class="row-upload row">
                            <input id="update" class="btn-update btn primary" type="button" value="update"
                                   style="width: 156px;height: 26px;margin-left: 420px;">
                            <li class="col-md-5">
                                <input class="btn-update btn primary" type="button" value="cancel"
                                       style="width: 156px;height: 26px;margin-left: 407px;" id="cancel">
                            </li>
                        </div>
                        <div id="updateDialog" class="modal">
                        <div id="update-modal-content" class="modal-content" style="top: 236px;">
                        </div>
                        </div>
                    </ul>
                </form>
        </div>
    </div>
    

<!--/using some code from
    https://www.w3schools.com/xml/ajax_xmlhttprequest_response.asp-->

<script src="js/cookbook_page.js"></script>


</body>
</html>