<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div id="content-header">
        <h1 class="text-center">Welcome</h1>
    </div>
    <div>
        <img class="test" src="img/9rguqEo.jpg">
    </div>
    <div id="upload-receipe" class ="text-center">
        <h4><a href="upload.html">Upload your own receipe</a></h4>
    </div>
    <div id="get-cookbook" class ="text-center">
        <h4><a href="cookbook.html">View your cookbook</a></h4>
    </div>
</div>
<footer>
    <div class="container">
        Copyright &copy; 2018 Chanteuse Hat Hackers <br>
    </div>
</footer>
</body>
</html>