<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Sous Chef – Registration/Login page</title>

</head>
<body>
    <div>
        <h1>
            Sous Chef Registration
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">LOGIN</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">REGISTER ACCOUNT</a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <! Login portion of the panel-->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <!  ======================================================= -->
                                <!Need to collect the form data in action -->
                                <!  ======================================================= -->
                                <form id="login-form" action="" method="post"
                                      role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="usernameLogin" id="usernameLogin" tabindex="1"
                                               class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="passwordLogin" id="passwordLogin" tabindex="2"
                                               class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                       class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>

                                    <!Forgot password panel -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <!  ======================================================= -->
                                                    <!Need to collect the form data in action -->
                                                    <!  ======================================================= -->
                                                    <a href="" tabindex="5"
                                                       class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <!  ======================================================= -->
                                         <!Need to collect the form data in action -->
                                <!  ======================================================= -->
                                <! Registration panel -->
                                <form id="register-form" action=""
                                      method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="usernameReg" id="usernameReg" tabindex="1"
                                               class="form-control" placeholder="Username" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control"
                                               placeholder="Email Address" value="">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="passwordReg" id="passwordReg" tabindex="2"
                                               class="form-control" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="confirm-passwordReg" id="confirm-passwordReg"
                                               tabindex="2" class="form-control" placeholder="Confirm Password">
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!Load the javascript file for the click between the tabs for registration and login -->
    <script src="js/registration_login.js"></script>
</body>
</html>




