
<!DOCTYPE html>
<html>
<head>
	<title>Update Recipe</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- NAVBAR -->
    <div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("navbar.html");
        });
    </script>
    <!--end of Navigation bar-->

	<button id="update">Update</button>
    <script>//JS for navbar for login popdown
        // Tooltip component
        $(function () { $('[data-toggle="tooltip"]').tooltip() });
        // Popover component
        $(function () { $('[data-toggle="popover"]').popover() });
    </script>
</body>
</html>