<!DOCTYPE html>
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="content-header">
				<h1 class="text-center">Upload your receipe</h1>
			</div>



			<div id="form-area">
				<form>
					<ul id="upload-recipe">
						<li id="name">
							<span>Recipe Name:</span>
							<input type="text" id="recipeName" class="input-1"></li>

						<li id="time">
							<span>Preparation time:</span>
							<input type="text" class="input-1" id="prepTime"></li>
					 	<li>
					 		<input class="btn primary" type="button" value="Add Ingredients" id="ingredient" />
					 		<ul class="ingredient-fields">
					 			<li></li>
					 		</ul>
					 	</li>
					 	<li>
					 		<input  class="btn primary" type="button" value="Add steps" id="steps"/>
					 		<ul class="steps-field">
					 			<li></li>
					 		</ul>
					 	</li>
					 	<li>
					 		<input class="btn primary" type="button" value="upload" id="upload"/>
					 	</li>
				 	</ul>
				 <div class="test"></div>

				</form>		
			</div>
		</div>
		<footer>
    		<div class="container">
      			
    		</div>
 		 </footer>			
	</body>
</html>