
/*Show a red border around inputs if not valid*/
input:focus:required:invalid {border: 2px solid red;}
input:required:valid { border: 2px solid black; }

/**{*/
	/*padding: 0;*/
	/*border:0;*/
	/*box-sizing: border-box;*/
	/*font-family: sans-serif;*/
    /*font-size: 1.08em;*/
	/**/
/*}*/


h1{
	text-align: center;
	margin:50px;
}

h3 {
    text-align: center;
    margin:0px;
    font-size: 1.05em;
}

p{

	padding-top: 30px;
	font-size: .8em;
}
h4{
	margin: 50px;
}
img.test { background-size: auto 100%; width: 100%;}



/*Registration/Login Page CSS*/
body {
    padding-top: 90px;
}

#cookBookBody{
     padding-top: 90px;
     background-color: #bbb;
    background-image: img/9rguqEo.jpg;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: upper-roman;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
#login-form-link.active {
    color: #59B2E0;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}
.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
#welcomeDiv {
    background: #59B2E0;
    color: #000;
}

/* UPLOAD RECIPE PAGE: START
   ========================= */

.upload-body                {padding: 0; background: #A9A9A9; font-family: Calibri;}
.upload-body .container     {background-color: #303030; padding:0; }
.upload-body h1             {margin: 40px 0; color: #fff;}
.upload-body hr             {background-color: #000;}

#form-area                      {background: #eeeeee; padding: 20px 30px;  font-size: 16px;}
#form-area ul                   {padding:0; margin:0;}
#form-area ul#upload-recipe li  {list-style-type: none; }

#form-area .input-1 {border: solid 1px #333;margin: 10px 10px 0 0;padding: 5px 2px;
                            height:40px;width: 100%; border-radius: 5px} 
#form-area textarea.input-1 {width:100%; height: auto;}

#ingredient, #steps, #upload{margin: 10px auto; border: solid 1px #333; box-shadow: 2px 2px 5px #333;}

.btn-upload:hover   {background-color: #a02853; color: #fff;}
.btn-upload         {display: block; height:40px; width:200px; font-size: 1.02em; background-color: #d6437f;}


.row-upload{margin: 10px 10px 0 0;padding: 5px 2px}
.row-upload .ingredient-fields .fields {margin-bottom: 20px; background-color: red;}
.container-upload{margin-bottom:20px;}

/* UPLOAD RECIPE PAGE: END
   ======================= */

/*UPDATE RECIPE PAGE: START*/
.input-1   
    {
        border: solid 1px #555;
        margin: 10px 10px 0 0;
        padding: 5px 2px;
        height:40px;
        width: 100%;
        border-radius: 5px;
        background: #333;
        color: #777;
        } 

#upload-recipe li {list-style-type: none; }


.btn-upload{
    height:40px;
    width:100%;
    font-size: 1.02em;
}
.btn-update{
    height:80px;
    width:100%;
    font-size: 1.02em;
    text-align: center;
    background: #333;
    color: #bbb;
    border: 1px solid #555;
    border-radius: 10px;
    /* HOVER OFF */
   -webkit-transition: padding 2s;
}
.btn-update:hover {
     color: #F8E2B9;
      /* HOVER ON */
   -webkit-transition: border-radius 2s;
 }

.btn-update:hover {
     color: #F8E2B9;
      /* HOVER ON */
   -webkit-transition: border-radius 2s;
 }


#ingredient, #steps, #upload{
    margin: 10px 0;
}

.row-upload{
    margin: 10px 10px 0 0;
    padding: 5px 2px
}

#form-area{
    background: rgb(135,206,250); box-sizing: border-box; padding: 30px 0px 30px 10px;
}

.container-upload{
    margin-bottom:20px;
}

#form-area_edit{
    background: #222;
    box-sizing: border-box;
    padding: 30px 0px 30px 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #bbb;
    
}

#recipeList{
     margin-left: 52px;
    margin-bottom: -80;
    border-color: #555;
    background: #333;
    color: #bbb;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/*Update Recipe page ends*/
